@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.frame {
  position: relative;
  width: 25rem;
  height: 25rem;
  margin: auto;
  margin-top: 2rem;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0,0,0,.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 0px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.user {
  position: relative;
  height: 194px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  background: #111;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.user-1:hover .overlay, .user-2:hover .overlay, .user-3:hover .overlay, .user-4:hover .overlay {
  opacity: .5;
}

.user-1:hover .plus, .user-2:hover .plus, .user-3:hover .plus, .user-4:hover .plus {
  opacity: 1;
  transform: scale(1);
}

.plus {
  position: absolute;
  background: #de5c5c;
  top: 4.5rem;
  left: 4.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 0;
  transform: scale(2);
  transition: all .3s ease-in-out;
}

.plus:before {
  position: absolute;
  content: '';
  background: #fff;
  width: 14px;
  height: 2px;
  top: 23px;
  left: 17px;
  
}

.plus:after {
  position: absolute;
  content: '';
  background: #fff;
  width: 2px;
  height: 14px;
  top: 17px;
  left: 23px;
}

.user-panel-1 {
  position: absolute;
  height: 25rem;
  width: 25rem;
  grid-area: 1 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 180px 1fr;
  pointer-events: none;
}

.hero {
  grid-area: 1 / 1 / 2 / 9;
  transform: translateY(-12rem);
  z-index: 2;
  transition: all 1s ease-in .5s;
}

.profile-pic {
  grid-area: 2 / 4 / 3 / 6;
  margin-top: -45px;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 100px;
  z-index: 3;
  transform: translateY(-15rem);
  transition: all 1s ease-in .2s;
}

.close {
  position: absolute;
  background: #de5c5c;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  #opacity: 0;
  #transform: scale(2);
  transition: all .5s ease-out;
  cursor: pointer;
  transform: translateY(-4rem);
  z-index: 4;
}

.close::before {
  position: absolute;
  content: '';
  background: #fff;
  width: 14px;
  height: 2px;
  top: 23px;
  left: 17px;
  transform: rotate(45deg);
  transition: all .3s ease-in-out;
  
}

.close::after {
  position: absolute;
  content: '';
  background: #fff;
  width: 2px;
  height: 14px;
  top: 17px;
  left: 23px;
  transform: rotate(45deg);
  transition: all .3s ease-in-out;
}

.interact {
  background: #de5c5c;
  grid-area: 2 / 1 / 3 / 9;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  transform: translateY(15rem);
  z-index: 2;
  transition: all 1s ease-in .5s;
}

.name {
  grid-area: 3 / 4 / 4 / 6;
  justify-self: center;
  color: #fff;
}

.btn {
  position: relative;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.call {
  grid-area: 4 / 3;
  justify-self: center;
}

.comment {
  grid-area: 4 / 4 / 4 / 6;
  justify-self: center;
}

.like {
  grid-area: 4 / 6 ;
  justify-self: center;
}

.fa {
  position: absolute;
  color: #fff;
  left: 1rem;
  top: 1rem;transition: all .3s ease-in-out;
}

.btn:hover {
  background: #fff;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.3);
}

.btn:hover .fa{
  color: #de5c5c;
}

.close:hover {
  background: #fff;
}

.close:hover::after, .close:hover::before{
  background: #de5c5c;
}

.return {
  transform: translateY(0);
}

.activate-pointer {
  pointer-events: all;
}

.deactivate-pointer {
  pointer-events: none;
}